doctype html
html
    head
        title Sanket's Dance Academy
        block style
    body
        nav#navbar
            ul
                div.logo
                    img(src="/static/img/logo.png")
                    | SDC
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/contact") Contact Us]
                li #[a(href="/") Class info]
                li #[a(href="/") Services]
        block content
        footer#footer
            | Copyright (c) SanketDanceAcademy.com 2020 | All Right Reserved
